<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
	<button mat-button (click)="toWall()" style="background-color: white; margin-left:0px; border-radius: 0px;">Feed 
		<svg style="vertical-align: text-top;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
			<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
		</svg>
	</button>
	<button mat-button class="active" style="background-color: #f6f6f6;  border-radius: 0px;"> Profile
		<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square"
			viewBox="0 0 16 16">
			<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
			<path
				d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
		</svg> -->
	</button>
	<button mat-button (click)="toFavourites()" accesskey="f" style="background-color: white; border-radius: 0px;"> Favourites
	</button>
	<button mat-button (click)="toLikes()" accesskey="f" style="background-color: white; border-radius: 0px;"> Most Likes
	</button>
	<button mat-button (click)="open(contentt)" accesskey="u" style="background-color: white; border-radius: 0px;"> Upload
		<svg style="  vertical-align: text-top;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
			class="bi bi-plus-square-fill" viewBox="0 0 16 16">
			<path
				d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
		</svg>
	</button>

	<div class="topnav-right">
		<button mat-button (click)="logout()" style="background-color: white; vertical-align: text-top;  border-radius: 0px;">Logout <i class="fa fa-fw fa-share"></i></button>
	</div>
</div>

<div class="content">

	<section id="container">

		<section id="userInfo">

			<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
				<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
				<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
			</svg>

			<h3>{{ user.nickname}}</h3>
			<!-- <h3>UserID: {{user._id}}</h3>
			<h3>Numero De Posts: {{posts.length}}</h3> -->

		</section>

		<section id="Posts">

			<div class="content">


				<div class="column wrap" fxLayoutGap="30px grid" style="width:100%">
					
					<ng-template #contentt let-modal>
						<!-- <div mat-dialog-actions> -->
						<mat-card class="example-card">
							<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
								<span aria-hidden="true">
									×
								</span>
							</button>
			
							<mat-tab-group mat-align-tabs="center">
								<mat-tab label="Upload">
			
									<!-- <h2 class="modal-title" style="text-align:center;">Upload</h2> -->
									<div>
										<mat-form-field class="example-full-width formfield" appearance="fill">
											<mat-label matSuffix>Nome</mat-label>
											<input matInput placeholder="Title" [(ngModel)]="title" required>
										</mat-form-field>
									</div>
									<div>
										<mat-form-field class="example-full-width formfield" appearance="fill">
											<mat-label>Description</mat-label>
											<input matInput #input placeholder="Description" [(ngModel)]="description">
										</mat-form-field>
									</div>
									<div>
										<mat-form-field class="example-full-width formfield" appearance="fill">
											<mat-label>Photo</mat-label>
											<ngx-mat-file-input #imageInput type="file" accept="image/*" (change)="processFile()">
											</ngx-mat-file-input>
										</mat-form-field>
									</div>
									<div>
										<img src={{photo}} style=" border: 1px solid #ddd; /* Gray border */
										border-radius: 4px;  /* Rounded border */
										width: 150px; /* Set a small width */">
									</div>
									<button class="botaoLR" mat-raised-button color="primary" (click)="upload()"
										[disabled]="!available" style="display: flex; justify-content: center;">Confirmar</button>
			
								</mat-tab>
							</mat-tab-group>
						</mat-card>
						<!-- </div> -->
					</ng-template>

					<ng-template #content let-modal>

					<div class="fotos">
							<!-- <div class="column"> -->
			
								<mat-card class="mat-elevation-z4" style="align-content: center; margin-right: auto; margin-left: auto;">
									<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
										<span aria-hidden="true">
											×
										</span>
									</button>
									<div mat-card-title class="card" style="margin-bottom: 0px; margin-right: 25%; margin-left: 25%;">{{postToShow.title}}</div>
									<img mat-card-image style="align-items:center; margin-top: 10px;" [src]="postToShow.photo" />
									<div class="card" style="align-items:center; margin-bottom: 10px; margin-right: 25%; margin-left: 25%;" >{{postToShow.description}}</div>
									<button mat-button (click)="removePost(postToShow._id)" (click)="removeFlag == false ? modal.close() : false"> 
										<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
											<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
										  </svg>
									</button>
								</mat-card>
			
							<!-- </div> -->
						</div>
				</ng-template>


					<div class="foto" style=" align-content: flex-start; margin-right: 100px; margin-left: 100px;" >
						<div class="row justify-content-center" style=" margin-left: 10px;" >

									<div style="align-content: flex-start; margin-top: 40px; margin-bottom: 40px; margin-right: 40px; margin-left: 30px;"
									*ngFor="let post of posts">
									
									<button mat-button (click)="mostraFoto(content, post._id)" ><img class="card" [src]="post.photo" /></button>									
									<!-- <button mat-button >Open</button> -->
								</div>
							
						</div>
					</div>

					<!-- <div *ngFor="let post of posts">
						<mat-card (click)="mostraFoto(content, post._id) "class="mat-elevation-z4">
							<img mat-card-image [src]="post.photo" />
						</mat-card>
					</div> -->

				</div>
			</div>
		</section>

	</section>

	<!-- <footer class="footer-16371" style="background-color: black; height:74px;" >
		<div class="container" >
			<div class="row justify-content-center align-items:center" style="color: white; margin-right: 95px;  margin-top: 10px;  margin-bottom: 10px;">
					<div class="copyright"><br>
						<p class="mb-0"><small>© Share Pictures App. All Rights Reserved.</small></p>
					</div>
			</div>
		</div>
	</footer> -->