mat-toolbar {
    justify-content: space-between;
  }
  
  .content {
    padding: 16px;
  }
  
  #container{
    display: grid;
    grid-template-columns: 350px auto;
    
  }

  #userInfo{
    grid-column: 1/2;
    margin-left: 15px;
  }

  #Posts{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
  }