<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
	<a (click)="logout()">logout <i class="fa fa-fw fa-share"></i></a>
	<a (click)="toWall()"> Wall <i class="fa fa-fw fa-home"></i> </a>
  </div>
<div class="content">

<section id="container">

	<section id="userInfo">

		<h3>Username: {{user.nickname}}</h3>
		<h3>UserID: {{user._id}}</h3>
		<h3>Numero De Posts: {{posts.length}}</h3>

	</section>

	<section id="Posts">

		<div class="content">
			<div fxLayout="row wrap" fxLayoutGap="16px grid">
				<div *ngFor="let post of posts">
					<mat-card class="mat-elevation-z4">
						<mat-card-header>
							<mat-card-title>{{post.title}}</mat-card-title>
						</mat-card-header>
						<img mat-card-image [src]="post.photo" />
						<mat-card-content>
							<p>
								{{post.description}}
							</p>
						</mat-card-content>
						<mat-card-actions>
							<button mat-button (click)="removePost(post._id)">REMOVE</button>
						</mat-card-actions>
					</mat-card>
				</div>
			</div>
		</div>

	</section>

</section>