svg {
  overflow: hidden;
  vertical-align: text-top;
}
 
 /* Style the navigation bar */
.navbar {
  width: 100%;
  background-color:white;
  overflow: auto;
  display: block;
  padding: 0px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}
/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #5b68c5;
}

/* Current/active navbar link */
.active {
  background-color: rgb(246, 246, 246);;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.content {
  padding: 16px;
  text-align: -webkit-center;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: block; */
  position: relative;
  padding: 16px;
  max-width: 500px;
  border-radius: 7px;
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
}

.div{
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  margin: 0px -16px -16px 0px;
}