<div class="example1" >

<div id="form">
  <img src=favicon.ico style="
  border-radius: 4px;  /* Rounded border */
  width: 80px; /* Set a small width */">
  <h4 style="color: white;">Inicie sessão para criar, descobrir e conectar-se com a comunidade.</h4>

  <mat-card class="example-card">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Iniciar Sessão">
        
        <mat-form-field class="example-full-width formfield" appearance="fill">
          <mat-label matSuffix>Nome de utilizador</mat-label>
          <input matInput placeholder="Nome de utilizador" [(ngModel)]="log_username" required>
          <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width formfield" appearance="fill">
          <mat-label>Palavra-passe</mat-label>
          <input matInput #input type="password" placeholder="" value="Palavra-passe" [(ngModel)]="log_password" required>
          <!-- <mat-hint align="end">{{input.value?.length || 8}}/100</mat-hint> -->
          <mat-error *ngIf="input">{{getErrorMessage2()}}</mat-error>
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <button class="botaoLR" mat-raised-button color="primary" (click)="login()">Login</button>

      </mat-tab>
      <mat-tab label="Registar">

        <mat-form-field class="example-full-width formfield formfield" hintLabel="O seu nome de utilizador tem de conter 3 ou mais carateres dos quais só podem ser letras ou algarismos." appearance="fill">
          <mat-label matSuffix>Nome de utilizador</mat-label>
          <input required type="Nome de utilizador" matInput placeholder="" value="Username" [(ngModel)]="reg_username">
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width"hintLabel="A sua palavra-passe tem de conter 8 ou mais carateres, uma letra maiúscula, uma minúscula e um numero." appearance="fill">
          <mat-label>Palavra-passe</mat-label>
          <input required type="password" matInput placeholder="" value="Palavra-passe" [(ngModel)]="reg_password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <button class="botaoLR" mat-raised-button color="primary" (click)="SignUp()">Register</button>

      </mat-tab>
    </mat-tab-group>


  </mat-card>
</div>

</div>
