<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="navbar">
	<a class="active">Feed <i class="fa fa-fw fa-home"></i></a>
	<a (click)="toProfile()"> {{user.nickname}}
		<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square"
			viewBox="0 0 16 16">
			<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
			<path
				d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
		</svg> -->
	</a>
	<a (click)="open(content)"> Upload
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
			class="bi bi-plus-square-fill" viewBox="0 0 16 16">
			<path
				d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
		</svg>
	</a>
	<div class="topnav-right">
		<a (click)="logout()">Logout <i class="fa fa-fw fa-share"></i></a>
	</div>
</div>

<div class="content">
	<div fxLayout="column wrap" fxLayoutGap="16px grid" style="align-content: center;">
		<ng-template #content let-modal>
			<!-- <div mat-dialog-actions> -->
			<mat-card class="example-card">
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">
						×
					</span>
				</button>

				<mat-tab-group mat-align-tabs="center">
					<mat-tab label="Upload">

						<!-- <h2 class="modal-title" style="text-align:center;">Upload</h2> -->
						<div>
							<mat-form-field class="example-full-width formfield" appearance="fill">
								<mat-label matSuffix>Nome</mat-label>
								<input matInput placeholder="Title" [(ngModel)]="title" required>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="example-full-width formfield" appearance="fill">
								<mat-label>Description</mat-label>
								<input matInput #input placeholder="Description" [(ngModel)]="description">
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="example-full-width formfield" appearance="fill">
								<mat-label>Photo</mat-label>
								<ngx-mat-file-input #imageInput type="file" accept="image/*" (change)="processFile()">
								</ngx-mat-file-input>
							</mat-form-field>
						</div>
						<div>
							<img src={{photo}} style=" border: 1px solid #ddd; /* Gray border */
							border-radius: 4px;  /* Rounded border */
							width: 150px; /* Set a small width */">
						</div>
						<button class="botaoLR" mat-raised-button color="primary" (click)="upload()"
							[disabled]="!available"
							(click)="flagConfirm == false ? modal.close() : false">Confirmar</button>

					</mat-tab>
				</mat-tab-group>
			</mat-card>
			<!-- </div> -->
		</ng-template>

		<ng-template #contentt let-modal>
			<!-- <div *ngFor="let post of posts"> -->
			<div class="fotos">
				<!-- <div class="row" > -->
				<!-- <div class="column"> -->

				<mat-card class="mat-elevation-z4">					
					<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
						<span aria-hidden="true">
							×
						</span>
					</button>
						<div mat-card-title class="card">{{postToShow.title}}</div>
						<img mat-card-image [src]="postToShow.photo" />
						<div class="card">{{postToShow.description}}</div>
						<button mat-button>   
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
								<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
							</svg>
							</button>
						<button mat-button>   
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
								<path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
							</svg>
						</button>
				</mat-card>
			</div>
		</ng-template>


		<div class="foto" style=" align-content: flex-start; margin-right: 40px; margin-left: 100px;">
			<div class="row" style=" margin-left: 40px;" >
				<mat-card (click)="mostraFoto(contentt, post._id) " class="mat-elevation-z4"
				style="align-content: flex-start; margin-top: 40px; margin-bottom: 40px; margin-right: 40px; margin-left: 40px;"
				*ngFor="let post of posts| slice:0:limit;">
					<img mat-card-image class="card" [src]="post.photo" />
				</mat-card>
			</div>
		</div>
		<div (click)="viewMore()">
			<button class="botao"  mat-button>LOAD MORE</button>
		</div>



		<footer class="footer-16371" style="background-color: black;">
			<div class="container" >
				<div class="row justify-content-center" style="color: white;  margin-top: 10px;  margin-bottom: 10px;">
					<div class="col-md-9 text-center">
							<h3>The Team</h3>
							<p>Ana Albuquerque  |  Gonçalo Antunes  |  Tiago Cabrita </p>
						<div class="copyright">
							<p class="mb-0"><small>© Share Pictures App. All Rights Reserved.</small></p>
						</div>
					</div>
				</div>
			</div>
		</footer>