<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
	<a class="active">Feed <i class="fa fa-fw fa-home"></i></a>
	<a (click)="toProfile()"> {{user.nickname}} <i class="fa fa-fw fa-user"></i> </a>
	<a (click)="toUpload()"> Upload <i class="fa fa-fw fa-user"></i> </a>
	<div class="topnav-right">
		<a (click)="logout()">Logout <i class="fa fa-fw fa-share"></i></a>
	</div>
</div>
<div class="content">
	<div fxLayout="row wrap" fxLayoutGap="16px grid">
		<ng-template #content let-modal>
			<div class="modal-header">
				<h4 class="modal-title" 
					id="modal-basic-title">
					Geeks of Geeks
				</h4>
				<button type="button" class="close"
						aria-label="Close" (click)=
						"modal.dismiss('Cross click')">
		  
					<span aria-hidden="true">
						×
					</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="dateOfBirth">
							Date of birth
						</label>
						<div class="input-group">
							<input id="dateOfBirth" 
								class="form-control" 
								placeholder="yyyy-mm-dd" 
								name="dp" ngbDatepicker
								#dp="ngbDatepicker">
		  
							<div class="input-group-append">
								<button class="btn 
									btn-outline-secondary calendar"
									(click)="dp.toggle()"
									type="button">
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" 
					class="btn btn-outline-dark" 
					(click)="modal.close('Save click')">
					Save
				</button>
			</div>
		</ng-template>
		<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    			Popup using Angular and Bootstrap
		</button>
		<div *ngFor="let post of posts">
			<mat-card class="mat-elevation-z4" id="cena">
				<mat-card-header>
					<mat-card-title>{{post.title}}</mat-card-title>
				</mat-card-header >
				<img id="cena2" mat-card-image [src]="post.photo" />
				<mat-card-content>
					<section>
						{{post.description}}
					</section>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>LIKE</button>
					<button mat-button>SHARE</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>