<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
	<button mat-button (click)="toWall()" style="background-color: white; margin-left:0px; border-radius: 0px;">Feed 
		<svg style="vertical-align: text-top;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
			<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
		</svg>
	</button>
	<button mat-button (click)="toProfile()" accesskey="p" style="background-color: white; border-radius: 0px;"> Profile</button>
  <button class="active" mat-button style="background-color: white; border-radius: 0px;"> Upload Multiple</button>
</div>

<div class="UploadFolder" *ngIf="initial">
  <input type="file" id="myfile" name="myfile" (change)="processFile()" webkitdirectory><br><br>
  <div *ngFor="let post of posts">
    <img src={{post.photo}} style=" border: 1px solid #ddd; /* Gray border */
							border-radius: 4px;  /* Rounded border */
							width: 150px; /* Set a small width */">
  </div>
  <button (click)="confirmarFolder()">Confirmar Folder</button>
</div>

<div class="ConfirmPhotos" *ngIf="!initial">
  <div>
    <label for="name">Title:</label><br>
    <input matInput #input placeholder="Title" [(ngModel)]="title">
    <label for="description">Description:</label><br>
    <input matInput #input placeholder="Descrição" [(ngModel)]="description">
    <img src={{postToShow.photo}} style=" border: 1px solid #ddd; /* Gray border */
							border-radius: 4px;  /* Rounded border */
							width: 150px; /* Set a small width */">
    <button (click)="upload()">Confirmar</button>
  </div>
</div>
