.navbar {
  width: 100%;
  background-color:white;
  overflow: auto;
  display: block;
  padding: 0px;
}
/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.navbar button {
  float: left;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.navbar button:hover {
  background-color: #5b68c5;
  cursor: pointer;
}

.navbar button:focus {
  background-color: #5b68c5;
  cursor: pointer;
}

/* Current/active navbar link */
.active {
  background-color: rgb(246, 246, 246);;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.content {
  /* padding: 16px; */
  /* margin-left: 100px;
  margin-right: 100px; */
  text-align: -webkit-center;
  margin-top: 16px;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.overlay {
  position: fixed;
}


.foto .mat-card{
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: block; */
  position: relative;
  padding: 16px;
  max-width: 300px;
  min-width: 300px;
  /* max-height: 500px;
  min-height: 500px; */
  height: -webkit-fill-available;
  border-radius: 7px;
  /* overflow: auto; */
  padding-bottom: initial;
}


#form {
  text-align: -webkit-center;
  margin-top: 15%;
}
.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}
.example-full-width {
  width: 100%;
  margin-top: 30px;
}
.example-full-width:last-of-type {
  width: 100%;
  margin-top: 10px;
}
.botaoLR {
  margin-top: 15px;
  width: 150px;
  margin-left: 150px;
}
svg {
  overflow: hidden;
  vertical-align: text-top;
}
/* button{
  margin-left: 443px;
} */
img {
  vertical-align: middle;
  border-style: none;
  width: 250px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: 7px;
  /* margin-bottom: 10px; */
}

.row {
display: flex;
flex-wrap: wrap;
margin-right: 0px;
margin-left: 100px;
align-items: flex-end;
padding: 0px 0px 0px 0px;

}


.content[_ngcontent-bng-c396] {
text-align: -webkit-center;
margin: 60px;
margin-right: 100px;
margin-left: 100px;
}


#cruz{
text-align: right;
margin-right: 15px;
border: none;
}

*:focus {
outline: none;
}


.mat-card {
transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
position: relative;
padding: 16px;
border-radius: 7px;
text-align: center;
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
margin-bottom: -1px;
}




element.style {
align-content: flex-start;
margin-right: auto;
margin-left: auto;
/* padding: 0px 30px 30px 0px; */
}


.botao {
width: 145px;
border-radius: 7px;
color: white;
background-color: black;
margin-top: 15px;
}

.modal-dialog{
  max-width: 100px;
}



/* ------ */


/*********footer*******************/
.kilimanjaro_area {
  position: relative;
  z-index: 1;
}
.foo_top_header_one {
  background-color: #15151e;
  color: #fff;
}
.section_padding_100_70 {
  padding-top: 100px;
  padding-bottom: 70px;
}
.foo_top_header_one {
  color: #fff;
}.kilimanjaro_part {
  margin-bottom: 30px;
}
.foo_top_header_one .kilimanjaro_part > h5 {
  color: #fff;
}
.kilimanjaro_part h4, .kilimanjaro_part h5 {
  margin-bottom: 30px;
}
.kilimanjaro_single_contact_info > p, .kilimanjaro_single_contact_info > h5, .kilimanjaro_blog_area > a, .foo_top_header_one .kilimanjaro_part > p {
  color: rgba(255,255,255,.5);
}
p, ul li, ol li {
  font-weight: 300;
}
ul {
  margin: 0;
  padding: 0;
}
.kilimanjaro_bottom_header_one {
  background-color: #111;
}
.section_padding_50 {
  padding: 50px 0;
}
.kilimanjaro_bottom_header_one p {
  color: #fff;
  margin: 0;
}
p, ul li, ol li {
  font-weight: 300;
}
.kilimanjaro_bottom_header_one a {
  color: inherit;
  font-size: 14px;
}
a, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
.m-top-15 {
  margin-top: 15px;
}
ul {
  margin: 0;
  padding: 0;
}

.kilimanjaro_widget > li {
  display: inline-block;
}
p, ul li, ol li {
  font-weight: 300;
}
ol li, ul li {
  list-style: outside none none;
}
.kilimanjaro_widget a {
  border: 1px solid #333;
  border-radius: 6px;
  color: #888;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 4px;
  padding: 7px 12px;
}
ul {
  margin: 0;
  padding: 0;
}
.kilimanjaro_links a {
  border-bottom: 1px solid #333;
  color: rgba(255,255,255,.5);
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.kilimanjaro_links a {
  color: rgba(255,255,255,.5);
  font-size: 13px;
}
top-15 {
  margin-top: 15px;
}
.foo_top_header_one .kilimanjaro_part > h5 {
  color: #fff;
}
.kilimanjaro_part h4, .kilimanjaro_part h5 {
  margin-bottom: 30px;
}
.kilimanjaro_social_links > li {
  display: inline-block;
}
p, ul li, ol li {
  font-weight: 300;
}
.kilimanjaro_social_links a {
  border: 1px solid #333;
  border-radius: 6px;
  color: #888;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 3px;
  padding: 7px 12px;
}
.kilimanjaro_blog_area .kilimanjaro_date {
  color: #27ae60;
  font-size: 13px;
  margin-bottom: 5px;
}
.kilimanjaro_blog_area > p {
  color: rgba(255,255,255,.5);
  line-height: 1.3;
  margin-bottom: 0;
}
.kilimanjaro_works > a {
  display: inline-block;
  float: left;
  position: relative;
  width: 33.33333333%;
  z-index: 1;
}
.kilimanjaro_thumb {
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}
.kilimanjaro_links a i {
  padding-right: 10px;
}
/* :: 18.0 Footer Area CSS */

  .footer_area {
      position: relative;
      z-index: 1;
  }
.footer_bottom p > i,
  .footer_bottom p > a:hover {
      color: #27ae60;
  }	

  .social_links_area {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: 50px 0 30px 0;
      text-align: center;
      position: relative;
      z-index: 1;
  }
.social_links_area > a:hover {
      color: #27ae60;
  }

  .inline-style .social_links_area > a:hover {
      background-color: transparent;
      color: #27ae60;
      border: 0px solid transparent;
  }
.single_feature:hover .feature_text h4 {
      color: #27ae60;
  }
.kilimanjaro_blog_area {
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
  padding: 0 0 15px 90px;
  position: relative;
  z-index: 1;
}
.kilimanjaro_links a {
  border-bottom: 1px solid #333;
  color: rgba(255,255,255,.5);
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}



